body{
    padding: 32px 8px 150px 8px;
    background: #ccc;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: blue;
    color: #fff;
}

.items-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.items-container .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.items-container .buttons button{
    padding: 8px;
}

.item-card{
    background-color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
}

.total{
    width: 100vw;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 40px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
}

.values{
    padding: 16px;
    display: flex;
    gap: 8px;
}

.price{
    font-weight: 700;
}

#reset{
    background-color: #ccc;
    color: black;
    padding: 0 24px;
}